/* 
@name         Modern Comments
@description  Replaces comment author's being on the side with a more modern, details above the comment style.
@namespace    robins.one/spacehey
@author       Taylor Robinson
@version      1.0.0
*/
/* Remove border around comments area */
.comments-table {
    border: none;
}

/* Remove background & move side bar over to the top */
.comments-table td {
    background: none;
    border: none;
    vertical-align: top;
    display: block;
}
/* Add border between comments*/
.comments-table td:nth-child(odd) {
    border-top: 2px solid #333;
}

/* Remove border between author details and comment body */
.comments-table tr:first-child td {
    border: none;
}

/* Make author details full width + bold */
.comments-table td:first-child {
    background: none;
    text-align: center;
    font-weight: bold;
    width: 100%;
    display: flex;
}

/* Move profile picture over to left */
.comments-table td:first-child a {
    order: 1;
}

/* Move author name over to the right + make name bold */
.comments-table td:first-child a:first-child {
    order: 2;
    vertical-align: center;
    font-weight: 900;
    margin-left: 4px;
}

/* Make avatar picture square */
.comments-table td:first-child img:not(.icon) {
    aspect-ratio: 1 / 1;
    height: 30px;
    width: auto;
    border-width: 2px;
}

/* Move date up and right */
.comments-table td time {
    position: absolute;
    margin-left: 34px;
    margin-top: -1.7em;
    font-weight: 500;
    font-size: 90%;
}

/* Remove margin between top of comment body */
.comments-table td>p:nth-child(1) {
    margin: 0;
}
