/* taylor was here */
@use "./proxima/proxima.scss";



/* spin my own profile pic */
@keyframes speen {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(720deg) }}

.profile-pic:hover {
    animation-name: speen;
    animation-duration: 0.25s;
}
.profile-pic {
    background-image: url(https://robins.one/spacehey/img/pfp.gif);
    background-size: cover;
    border-radius: 100%;
    border: 3px solid white;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.15);
}
.profile-pic img {
    opacity: 0;
}

/* change people's names */
a[href*="/profile?id=660756"] p { font-size: 0px !important; }
a[href*="/profile?id=660756"] p::before {
    content: "Smelltob";
    font-size: 14px;
    text-transform: capitalize;
}

a[href*="/profile?id=699578"] p { font-size: 0px !important; }
a[href*="/profile?id=699578"] p::before {
    content: "Forstbiet Galcier";
    font-size: 14px;
    text-transform: capitalize;
}